body {
    margin: 0px;
    padding: 0px;
}

header{
    display: grid;
    background-color: red;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

ul {
display: grid;
grid-template-columns: repeat(3, 200px);
}

.uron{
    background-color: grey;
    display: grid;
}
.main {
    display: grid;
    
}