* {
    margin: 0px;
    padding: 0px;
}

.Animation {
    width: 240px;
    height: auto;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-name: Uron;
}

@keyframes Uron{
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}

.paragraph {
    margin-left: 40px;  
    visibility: hidden; 
}
