.light {
    background-color: lightgrey;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

.new {
    border: 2px solid yellow;
    box-shadow: 2px 2px 2px grey;
}

.lightnew{
    background-color: lightgrey;
    color: black;
    border: 2px solid yellow;
    box-shadow: 2px 2px 2px grey;
}

.darknew{
    background-color: black;
    color: white;
    border: 2px solid yellow;
    box-shadow: 2px 2px 2px grey;
}